<!--Inicio Graficos-->

<div class="row gx-5 gx-xl-10 mb-xl-10 m-0">
	<!--begin::Col-->
	<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-10">

		<!--begin:: Grafico 1-->
		<div class="card card-flush h-md-50 mb-5 mb-xl-10">
			<!--begin::Header-->
			<div class="card-header pt-5">
				<!--begin::Title-->
				<div class="card-title d-flex flex-column">
					<!--begin::Info-->
					<div class="d-flex align-items-center">
						<!--begin::Amount-->
						<span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">1,836</span>
						<!--end::Amount-->
						<!--begin::Badge-->
						<span class="badge badge-light-danger fs-base">
							<i class="ki-outline ki-arrow-down fs-5 text-danger ms-n1"></i>2.2%
						</span>
						<!--end::Badge-->
					</div>
					<!--end::Info-->
					<!--begin::Subtitle-->
					<span class="text-gray-500 pt-1 fw-semibold fs-6">Orders This Month</span>
					<!--end::Subtitle-->
				</div>
				<!--End::Title-->
			</div>
			<!--end::Header-->
		</div>
		<!--end:: Grafico 1-->
		<!--begin::Grafico 2-->
		<div class="card card-flush h-md-50 mb-5 mb-xl-10">
			<!--begin::Header-->
			<div class="card-header pt-5">
				<!--begin::Title-->
				<div class="card-title d-flex flex-column">
					<!--begin::Info-->
					<div class="d-flex align-items-center">
						<!--begin::Amount-->
						<span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">1,836</span>
						<!--end::Amount-->
						<!--begin::Badge-->
						<span class="badge badge-light-danger fs-base">
							<i class="ki-outline ki-arrow-down fs-5 text-danger ms-n1"></i>2.2%
						</span>
						<!--end::Badge-->
					</div>
					<!--end::Info-->
					<!--begin::Subtitle-->
					<span class="text-gray-500 pt-1 fw-semibold fs-6">Orders This Month</span>
					<!--end::Subtitle-->
				</div>
				<!--End::Title-->
			</div>
			<!--end::Header-->
		</div>
		<!--end::Grafico 2-->

	</div>
	<!--end::Col-->


	<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-10">

		<!--begin::Grafico 3-->
		<div class="card card-flush h-md-50 mb-5 mb-xl-10">
			<!--begin::Header-->
			<div class="card-header pt-5">
				<!--begin::Title-->
				<div class="card-title d-flex flex-column">
					<!--begin::Info-->
					<div class="d-flex align-items-center">
						<!--begin::Amount-->
						<span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">1,836</span>
						<!--end::Amount-->
						<!--begin::Badge-->
						<span class="badge badge-light-danger fs-base">
							<i class="ki-outline ki-arrow-down fs-5 text-danger ms-n1"></i>2.2%
						</span>
						<!--end::Badge-->
					</div>
					<!--end::Info-->
					<!--begin::Subtitle-->
					<span class="text-gray-500 pt-1 fw-semibold fs-6">Orders This Month</span>
					<!--end::Subtitle-->
				</div>
				<!--End::Title-->
			</div>
			<!--end::Header-->
		</div>
		<!--end::Grafico 3-->
		<!--begin::Grafico 4-->
		<div class="card card-flush h-md-50 mb-5 mb-xl-10">
			<!--begin::Header-->
			<div class="card-header pt-5">
				<!--begin::Title-->
				<div class="card-title d-flex flex-column">
					<!--begin::Info-->
					<div class="d-flex align-items-center">
						<!--begin::Amount-->
						<span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">1,836</span>
						<!--end::Amount-->
						<!--begin::Badge-->
						<span class="badge badge-light-danger fs-base">
							<i class="ki-outline ki-arrow-down fs-5 text-danger ms-n1"></i>2.2%
						</span>
						<!--end::Badge-->
					</div>
					<!--end::Info-->
					<!--begin::Subtitle-->
					<span class="text-gray-500 pt-1 fw-semibold fs-6">Orders This Month</span>
					<!--end::Subtitle-->
				</div>
				<!--End::Title-->
			</div>
			<!--end::Header-->
		</div>
		<!--end::Grafico 4-->
	</div>


	<!--begin::Col-->
	<!--end::Col-->
	<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-10">

		<!--begin::Grafico 5-->
		<div class="card card-flush h-md-50 mb-5 mb-xl-10">
			<!--begin::Header-->
			<div class="card-header pt-5">
				<!--begin::Title-->
				<div class="card-title d-flex flex-column">
					<!--begin::Info-->
					<div class="d-flex align-items-center">
						<!--begin::Amount-->
						<span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">1,836</span>
						<!--end::Amount-->
						<!--begin::Badge-->
						<span class="badge badge-light-danger fs-base">
							<i class="ki-outline ki-arrow-down fs-5 text-danger ms-n1"></i>2.2%
						</span>
						<!--end::Badge-->
					</div>
					<!--end::Info-->
					<!--begin::Subtitle-->
					<span class="text-gray-500 pt-1 fw-semibold fs-6">Orders This Month</span>
					<!--end::Subtitle-->
				</div>
				<!--End::Title-->
			</div>
			<!--end::Header-->
		</div>
		<!--end::Grafico 5-->
		<!--begin::Grafico 6-->
		<div class="card card-flush h-md-50 mb-5 mb-xl-10">
			<!--begin::Header-->
			<div class="card-header pt-5">
				<!--begin::Title-->
				<div class="card-title d-flex flex-column">
					<!--begin::Info-->
					<div class="d-flex align-items-center">
						<!--begin::Amount-->
						<span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">1,836</span>
						<!--end::Amount-->
						<!--begin::Badge-->
						<span class="badge badge-light-danger fs-base">
							<i class="ki-outline ki-arrow-down fs-5 text-danger ms-n1"></i>2.2%
						</span>
						<!--end::Badge-->
					</div>
					<!--end::Info-->
					<!--begin::Subtitle-->
					<span class="text-gray-500 pt-1 fw-semibold fs-6">Orders This Month</span>
					<!--end::Subtitle-->
				</div>
				<!--End::Title-->
			</div>
			<!--end::Header-->
		</div>
		<!--end::Grafico 7-->
	</div>


	<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-10">

		<!--begin::Grafico 8-->
		<div class="card card-flush h-md-50 mb-5 mb-xl-10">
			<!--begin::Header-->
			<div class="card-header pt-5">
				<!--begin::Title-->
				<div class="card-title d-flex flex-column">
					<!--begin::Info-->
					<div class="d-flex align-items-center">
						<!--begin::Amount-->
						<span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">1,836</span>
						<!--end::Amount-->
						<!--begin::Badge-->
						<span class="badge badge-light-danger fs-base">
							<i class="ki-outline ki-arrow-down fs-5 text-danger ms-n1"></i>2.2%
						</span>
						<!--end::Badge-->
					</div>
					<!--end::Info-->
					<!--begin::Subtitle-->
					<span class="text-gray-500 pt-1 fw-semibold fs-6">Orders This Month</span>
					<!--end::Subtitle-->
				</div>
				<!--End::Title-->
			</div>
			<!--end::Header-->
		</div>
		<!--end::Grafico 8-->
		<!--begin::Grafico 9-->
		<div class="card card-flush h-md-50 mb-5 mb-xl-10">
			<!--begin::Header-->
			<div class="card-header pt-5">
				<!--begin::Title-->
				<div class="card-title d-flex flex-column">
					<!--begin::Info-->
					<div class="d-flex align-items-center">
						<!--begin::Amount-->
						<span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">1,836</span>
						<!--end::Amount-->
						<!--begin::Badge-->
						<span class="badge badge-light-danger fs-base">
							<i class="ki-outline ki-arrow-down fs-5 text-danger ms-n1"></i>2.2%
						</span>
						<!--end::Badge-->
					</div>
					<!--end::Info-->
					<!--begin::Subtitle-->
					<span class="text-gray-500 pt-1 fw-semibold fs-6">Orders This Month</span>
					<!--end::Subtitle-->
				</div>
				<!--End::Title-->
			</div>
			<!--end::Header-->
		</div>
		<!--end::Grafico 9-->
	</div>


	<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-10">

		<!--begin::Grafico 10-->
		<div class="card card-flush h-md-50 mb-5 mb-xl-10">
			<!--begin::Header-->
			<div class="card-header pt-5">
				<!--begin::Title-->
				<div class="card-title d-flex flex-column">
					<!--begin::Info-->
					<div class="d-flex align-items-center">
						<!--begin::Amount-->
						<span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">1,836</span>
						<!--end::Amount-->
						<!--begin::Badge-->
						<span class="badge badge-light-danger fs-base">
							<i class="ki-outline ki-arrow-down fs-5 text-danger ms-n1"></i>2.2%
						</span>
						<!--end::Badge-->
					</div>
					<!--end::Info-->
					<!--begin::Subtitle-->
					<span class="text-gray-500 pt-1 fw-semibold fs-6">Orders This Month</span>
					<!--end::Subtitle-->
				</div>
				<!--End::Title-->
			</div>
			<!--end::Header-->
		</div>
		<!--end::Grafico 10-->
		<!--begin::Grafico 11-->
		<div class="card card-flush h-md-50 mb-5 mb-xl-10">
			<!--begin::Header-->
			<div class="card-header pt-5">
				<!--begin::Title-->
				<div class="card-title d-flex flex-column">
					<!--begin::Info-->
					<div class="d-flex align-items-center">
						<!--begin::Amount-->
						<span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">1,836</span>
						<!--end::Amount-->
						<!--begin::Badge-->
						<span class="badge badge-light-danger fs-base">
							<i class="ki-outline ki-arrow-down fs-5 text-danger ms-n1"></i>2.2%
						</span>
						<!--end::Badge-->
					</div>
					<!--end::Info-->
					<!--begin::Subtitle-->
					<span class="text-gray-500 pt-1 fw-semibold fs-6">Orders This Month</span>
					<!--end::Subtitle-->
				</div>
				<!--End::Title-->
			</div>
			<!--end::Header-->
		</div>
		<!--end::Grafico 11-->
	</div>

	<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-10">

		<!--begin::Grafico 12-->
		<div class="card card-flush h-md-50 mb-5 mb-xl-10">
			<!--begin::Header-->
			<div class="card-header pt-5">
				<!--begin::Title-->
				<div class="card-title d-flex flex-column">
					<!--begin::Info-->
					<div class="d-flex align-items-center">
						<!--begin::Amount-->
						<span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">1,836</span>
						<!--end::Amount-->
						<!--begin::Badge-->
						<span class="badge badge-light-danger fs-base">
							<i class="ki-outline ki-arrow-down fs-5 text-danger ms-n1"></i>2.2%
						</span>
						<!--end::Badge-->
					</div>
					<!--end::Info-->
					<!--begin::Subtitle-->
					<span class="text-gray-500 pt-1 fw-semibold fs-6">Orders This Month</span>
					<!--end::Subtitle-->
				</div>
				<!--End::Title-->
			</div>
			<!--end::Header-->
		</div>
		<!--end::Grafico 12-->
		<!--begin::Grafico 13-->
		<div class="card card-flush h-md-50 mb-5 mb-xl-10">
			<!--begin::Header-->
			<div class="card-header pt-5">
				<!--begin::Title-->
				<div class="card-title d-flex flex-column">
					<!--begin::Info-->
					<div class="d-flex align-items-center">
						<!--begin::Amount-->
						<span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">1,836</span>
						<!--end::Amount-->
						<!--begin::Badge-->
						<span class="badge badge-light-danger fs-base">
							<i class="ki-outline ki-arrow-down fs-5 text-danger ms-n1"></i>2.2%
						</span>
						<!--end::Badge-->
					</div>
					<!--end::Info-->
					<!--begin::Subtitle-->
					<span class="text-gray-500 pt-1 fw-semibold fs-6">Orders This Month</span>
					<!--end::Subtitle-->
				</div>
				<!--End::Title-->
			</div>
			<!--end::Header-->
		</div>
		<!--end::Grafico 13-->
	</div>

</div>