<!DOCTYPE html>
<html lang="en">
<!-- Inicio del documento HTML -->
<head>
    <!-- Cabecera del documento -->
    <title>@ViewData["Title"] - ProyectoPrueba</title>
    <!-- Título de la página -->
    <meta charset="utf-8" />
    <!-- Configuración de la codificación de caracteres -->
    <meta name="description"
          content="El tema de administración Bootstrap 5 más avanzado con 40 diseños preconstruidos únicos en Themeforest, confiado por 100,000 principiantes y profesionales. Multi-demo, modo oscuro, soporte RTL y versiones completas de React, Angular, Vue, Asp.Net Core, Rails, Spring, Blazor, Django, Express.js, Node.js, Flask, Symfony & Laravel. Obtén tu copia ahora y recibe actualizaciones de por vida gratis." />
    <!-- Descripción de la página para motores de búsqueda -->
    <meta name="keywords"
          content="metronic, bootstrap, bootstrap 5, angular, VueJs, React, Asp.Net Core, Rails, Spring, Blazor, Django, Express.js, Node.js, Flask, Symfony & Laravel starter kits, admin themes, web design, figma, web development, free templates, free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon" />
    <!-- Palabras clave para motores de búsqueda -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Configuración de la vista en dispositivos móviles -->
    <meta property="og:locale" content="en_US" />
    <!-- Configuración regional para Open Graph -->
    <meta property="og:type" content="article" />
    <!-- Tipo de contenido para Open Graph -->
    <meta property="og:title" content="Metronic - La Plantilla de Administración Bootstrap más Vendida del Mundo por KeenThemes" />
    <!-- Título para Open Graph -->
    <meta property="og:url" content="https://keenthemes.com/metronic" />
    <!-- URL para Open Graph -->
    <meta property="og:site_name" content="Metronic por Keenthemes" />
    <!-- Nombre del sitio para Open Graph -->
    <link rel="canonical" href="http://Index.html" />
    <!-- Enlace canónico -->
    @* <link rel="shortcut icon" href="assets/media/logos/favicon.ico" /> *@
    <!-- Icono de la página -->
    <!-- Inicio de la carga de fuentes -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <!-- Fuentes utilizadas en la página -->
    <!-- Fin de la carga de fuentes -->
    <!-- Estilos de proveedores utilizados solo para esta página -->
    @* <link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" /> *@

    <!-- Fin de los estilos de proveedores -->
    <!-- Inicio del paquete de estilos globales obligatorio para todas las páginas -->
    <link href="~/css/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <!-- Estilos globales utilizados en todas las páginas -->
    <!-- Estilos de la aplicación -->
    <link href="~/css/style.bundle.css" rel="stylesheet" type="text/css" />
    @* Estilos personaiizados *@
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <!-- Fin del paquete de estilos globales -->
    <!-- Script para evitar cargar el sitio dentro de un marco sin permiso (clickjacking) -->
    <script>
        // Impide que el sitio se cargue dentro de un marco sin permiso (clickjacking)
        if (window.top != window.self) {
            window.top.location.replace(window.self.location.href);
        }
    </script>
</head>

<!-- Fin de la cabecera -->
<!-- Cuerpo del documento HTML -->
<body id="kt_app_body" data-kt-app-header-fixed="true" data-kt-app-header-fixed-mobile="true"
      data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-push-toolbar="true"
      data-kt-app-sidebar-push-footer="true" data-kt-app-sidebar-stacked="true"
      data-kt-app-sidebar-secondary-enabled="true" class="app-default">
    <!-- Cuerpo de la aplicación con configuraciones -->
    <!-- Script para configurar el modo de tema al cargar la página -->
    <script>
        var defaultThemeMode = "light"; // Modo de tema predeterminado
        var themeMode; // Modo de tema actual
        if (document.documentElement) { // Si existe el elemento raíz del documento
            if (document.documentElement.hasAttribute("data-bs-theme-mode")) { // Si existe el atributo de modo de tema
                themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); // Obtener el modo de tema del atributo
            } else {
                if (localStorage.getItem("data-bs-theme") !== null) { // Si el modo de tema está almacenado en el almacenamiento local
                    themeMode = localStorage.getItem("data-bs-theme"); // Obtener el modo de tema del almacenamiento local
                } else {
                    themeMode = defaultThemeMode; // Utilizar el modo de tema predeterminado
                }
            }
            if (themeMode === "system") { // Si el modo de tema es 'system'
                themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; // Obtener el modo de tema del sistema
            }
            document.documentElement.setAttribute("data-bs-theme", themeMode); // Establecer el modo de tema en el elemento raíz del documento
        }
    </script>
    <!-- Fin de la configuración del modo de tema al cargar la página -->
    <!-- Contenedor principal de la aplicación -->
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">

        <!-- Página de la aplicación -->
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">


            <!-- Cabecera de la aplicación -->
            <div id="kt_app_header" class="app-header bg-personalizado" style="border:none">
                <!-- Contenedor de la cabecera -->
                <div class="app-container container-fluid d-flex align-items-stretch justify-content-between"
                     id="kt_app_header_container">
                    <!-- Logo de la cabecera -->
                    <div class="app-header-logo d-flex align-items-center ps-lg-2 me-lg-10">
                        <!-- Alternador de móvil -->
                        <div class="btn btn-icon btn-color-gray-500 btn-active-color-primary w-35px h-35px ms-n2 me-2 d-flex d-lg-none"
                             id="kt_app_sidebar_mobile_toggle">
                            <i class="ki-outline ki-abstract-14 fs-1"></i>
                        </div>
                        <!-- Fin del alternador de móvil -->
                        <!-- Imagen del logo -->
                        <a href="Index.html">
                            <img alt="Logo" src="~/img/logo.png" class="w-100px" />
                        </a>
                        <!-- Fin de la imagen del logo -->
                    </div>
                    <!-- Fin del logo de la cabecera -->
                    <!-- Envoltorio de la cabecera -->
                    <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                        <!-- Envoltorio del menú -->
                        <div class="d-flex align-items-stretch" id="kt_app_header_menu_wrapper">
                        </div>
                        <!-- Fin del envoltorio del menú -->
                        <!-- Barra de navegación -->
                        <div class="app-navbar flex-shrink-0">
                            <!-- Alternador de modo -->
                            <div class="app-navbar-item ms-3 ms-md-6">
                                <div class="menu-item" data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
                                     data-kt-menu-placement="left-start" data-kt-menu-offset="-15px, 0">
                                    <a href="#" class="menu-link px-5">
                                        <span class="menu-title position-relative">
                                            <span class="ms-5 position-absolute translate-middle-y top-50 end-0">
                                                <i class="ki-outline ki-night-day theme-light-show fs-2"></i>
                                                <i class="ki-outline ki-moon theme-dark-show fs-2"></i>
                                            </span>
                                        </span>
                                    </a>
                                    <!-- Submenú del modo de tema -->
                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-title-gray-700 menu-icon-gray-500 menu-active-bg menu-state-color fw-semibold py-4 fs-base w-150px"
                                         data-kt-menu="true" data-kt-element="theme-mode-menu">
                                        <!-- Elementos del menú -->
                                        <div class="menu-item px-3 my-0">
                                            <a href="#" class="menu-link px-3 py-2" data-kt-element="mode"
                                               data-kt-value="light">
                                                <span class="menu-icon" data-kt-element="icon">
                                                    <i class="ki-outline ki-night-day fs-2"></i>
                                                </span>
                                                <span class="menu-title">Claro</span>
                                            </a>
                                        </div>
                                        <div class="menu-item px-3 my-0">
                                            <a href="#" class="menu-link px-3 py-2" data-kt-element="mode"
                                               data-kt-value="dark">
                                                <span class="menu-icon" data-kt-element="icon">
                                                    <i class="ki-outline ki-moon fs-2"></i>
                                                </span>
                                                <span class="menu-title">Oscuro</span>
                                            </a>
                                        </div>
                                        <div class="menu-item px-3 my-0">
                                            <a href="#" class="menu-link px-3 py-2" data-kt-element="mode"
                                               data-kt-value="system">
                                                <span class="menu-icon" data-kt-element="icon">
                                                    <i class="ki-outline ki-screen fs-2"></i>
                                                </span>
                                                <span class="menu-title">Sistema</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fin del alternador de modo -->
                            <!-- Notificaciones -->
                            <div class="app-navbar-item ms-3 ms-md-6">
                                <!-- Envoltorio del menú -->
                                <div class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-30px h-30px w-md-35px h-md-35px"
                                     data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent"
                                     data-kt-menu-placement="bottom-end">
                                    <!-- Icono de notificaciones -->
                                    <i class="ki-outline ki-notification-on fs-1"></i>
                                </div>
                                <!-- Menú de notificaciones -->
                                <div class="menu menu-sub menu-sub-dropdown menu-column w-350px w-lg-375px"
                                     data-kt-menu="true" id="kt_menu_notifications">
                                    <!-- Encabezado -->
                                    <div class="d-flex flex-column bgi-no-repeat rounded-top"
                                         style="background-image:url('assets/media/misc/menu-header-bg.jpg')">
                                        <!-- Título -->
                                        <h3 class="text-white fw-semibold px-9 mt-10 mb-6">
                                            Notificaciones
                                            <!-- Cantidad de reportes -->
                                            <span class="fs-8 opacity-75 ps-3">24 informes</span>
                                        </h3>
                                        <!-- Pestañas -->
                                        <ul class="nav nav-line-tabs nav-line-tabs-2x nav-stretch fw-semibold px-9">
                                            <li class="nav-item">
                                                <!-- Pestaña de alertas -->
                                                <a class="nav-link text-white opacity-75 opacity-state-100 pb-4"
                                                   data-bs-toggle="tab" href="#kt_topbar_notifications_1">Alertas</a>
                                            </li>
                                            <li class="nav-item">
                                                <!-- Pestaña de actualizaciones -->
                                                <a class="nav-link text-white opacity-75 opacity-state-100 pb-4 active"
                                                   data-bs-toggle="tab" href="#kt_topbar_notifications_2">Actualizaciones</a>
                                            </li>
                                            <li class="nav-item">
                                                <!-- Pestaña de registros -->
                                                <a class="nav-link text-white opacity-75 opacity-state-100 pb-4"
                                                   data-bs-toggle="tab" href="#kt_topbar_notifications_3">Registros</a>
                                            </li>
                                        </ul>
                                        <!-- Fin de pestañas -->
                                    </div>
                                    <!-- Fin de encabezado -->
                                    <!-- Contenido de pestañas -->
                                    <div class="tab-content">
                                        <!-- Panel de pestaña -->
                                        <div class="tab-pane fade" id="kt_topbar_notifications_1" role="tabpanel">
                                            <!-- Ítems -->
                                            <div class="scroll-y mh-325px my-5 px-8">
                                                <!-- Contenido de alertas -->
                                            </div>
                                            <!-- Fin de ítems -->
                                        </div>
                                        <!-- Fin de panel de pestaña -->
                                        <!-- Panel de pestaña -->
                                        <div class="tab-pane fade show active" id="kt_topbar_notifications_2"
                                             role="tabpanel">
                                            <!-- Envoltorio -->
                                            <div class="d-flex flex-column px-9">
                                                <!-- Sección -->
                                                <div class="pt-10 pb-0">
                                                    <!-- Contenido de actualizaciones -->
                                                </div>
                                                <!-- Fin de sección -->
                                            </div>
                                            <!-- Fin de envoltorio -->
                                        </div>
                                        <!-- Fin de panel de pestaña -->
                                        <!-- Panel de pestaña -->
                                        <div class="tab-pane fade" id="kt_topbar_notifications_3" role="tabpanel">
                                            <!-- Ítems -->
                                            <div class="scroll-y mh-325px my-5 px-8">
                                                <!-- Contenido de registros -->
                                            </div>
                                            <!-- Fin de ítems -->
                                        </div>
                                        <!-- Fin de panel de pestaña -->
                                    </div>
                                    <!-- Fin de contenido de pestañas -->
                                </div>
                                <!-- Fin de menú de notificaciones -->
                            </div>
                            <!-- Fin de notificaciones -->
                            <!-- Menú de usuario -->
                            <div class="app-navbar-item ms-3 ms-md-6" id="kt_header_user_menu_toggle">
                                <!-- Envoltorio del menú -->
                                <div class="cursor-pointer symbol symbol-30px symbol-md-35px"
                                     data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent"
                                     data-kt-menu-placement="bottom-end">
                                    <!-- Avatar del usuario -->
                                    <img class="symbol symbol-circle symbol-30px symbol-md-35px"
                                         src="~/img/300-1.jpg" alt="user" />
                                </div>
                                <!-- Menú de cuenta de usuario -->
                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px"
                                     data-kt-menu="true">
                                    <!-- Elemento de menú -->
                                    <div class="menu-item px-3">
                                        <div class="menu-content d-flex align-items-center px-3">
                                            <!-- Avatar -->
                                            <div class="symbol symbol-50px me-5">
                                                <img alt="Logo" src="~/img/300-1.jpg" />
                                            </div>
                                            <!-- Nombre de usuario -->
                                            <div class="d-flex flex-column">
                                                <div class="fw-bold d-flex align-items-center fs-5">
                                                    Max Smith
                                                    <!-- Etiqueta de usuario Pro -->
                                                    <span class="badge badge-light-success fw-bold fs-8 px-2 py-1 ms-2">Pro</span>
                                                </div>
                                                <!-- Correo electrónico del usuario -->
                                                <a href="#"
                                                   class="fw-semibold text-muted text-hover-primary fs-7">max@kt.com</a>
                                            </div>
                                            <!-- Fin del nombre de usuario -->
                                        </div>
                                    </div>
                                    <!-- Separador de menú -->
                                    <div class="separator my-2"></div>
                                    <!-- Elemento de menú - Perfil -->
                                    <div class="menu-item px-5">
                                        <a href="#" class="menu-link px-5">Mi Perfil</a>
                                    </div>
                                    <!-- Separador de menú -->
                                    <div class="separator my-2"></div>
                                    <!-- Elemento de menú - Configuración de cuenta -->
                                    <div class="menu-item px-5 my-1">
                                        <a href="#" class="menu-link px-5">Configuración de la Cuenta</a>
                                    </div>
                                    <!-- Elemento de menú - Cerrar sesión -->
                                    <div class="menu-item px-5">
                                        <a href="#"
                                           class="menu-link px-5">Cerrar Sesión</a>
                                    </div>
                                    <!-- Fin del elemento de menú -->
                                </div>
                                <!-- Fin del menú de cuenta de usuario -->
                                <!-- Fin del envoltorio del menú -->
                            </div>
                            <!-- Fin del menú de usuario -->
                        </div>
                        <!--end::Navbar-->
                    </div>
                    <!--end::Header wrapper-->
                </div>
                <!--end::Header container-->
            </div>
            <!--Fin ::Cabecera-->
            <!-- Envoltorio -->
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                <!-- Barra lateral -->
                <div id="kt_app_sidebar" class="app-sidebar" data-kt-drawer="true" data-kt-drawer-name="app-sidebar"
                     data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
                     data-kt-drawer-width="auto" data-kt-drawer-direction="start"
                     data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
                    <!-- Barra lateral primaria -->
                    <div class="app-sidebar-primary bg-personalizado">

                        <!-- Navbar de la barra lateral -->
                        <div class="app-sidebar-nav flex-grow-1 hover-scroll-y px-4 pt-2"
                             id="kt_app_sidebar_primary_nav" data-kt-scroll="true" data-kt-scroll-height="auto"
                             data-kt-scroll-dependencies="#kt_app_header, #kt_app_sidebar_primary_header, #kt_app_sidebar_primary_footer"
                             data-kt-scroll-wrappers="#kt_app_content, #kt_app_sidebar_primary_nav"
                             data-kt-scroll-offset="5px">
                            <!-- Navegación -->
                            <ul class="nav">
                                <!-- Elemento de la barra de navegación -->
                                <li class="nav-item py-1">
                                    <!-- Enlace de la barra de navegación - Inicio -->
                                    <a href="Index.html" class="nav-link py-4 px-1 btn active">
                                        <i class="ki-outline ki-home fs-1"></i>
                                        <span class="pt-2 fs-9 fs-lg-7 fw-bold">Inicio</span>
                                    </a>
                                    <!-- Fin del enlace de la barra de navegación -->
                                </li>
                                <!-- Fin del elemento de la barra de navegación -->
                                <!-- Elemento de la barra de navegación -->
                                <li class="nav-item py-1">
                                    <!-- Enlace de la barra de navegación - Dashboard -->
                                    <a href="dashboard.html" class="nav-link py-4 px-1 btn">
                                        <i class="ki-outline ki-chart-simple-3 fs-1"></i>
                                        <span class="pt-2 fs-9 fs-lg-7 fw-bold">Dashboard</span>
                                    </a>
                                    <!-- Fin del enlace de la barra de navegación -->
                                </li>
                                <!-- Fin del elemento de la barra de navegación -->
                                <!-- Elemento de la barra de navegación -->
                                <li class="nav-item py-1">
                                    <!-- Enlace de la barra de navegación - Perfil -->
                                    <a href="account/overview.html" class="nav-link py-4 px-1 btn">
                                        <i class="ki-outline ki-profile-circle fs-1"></i>
                                        <span class="pt-2 fs-9 fs-lg-7 fw-bold">Perfil</span>
                                    </a>
                                    <!-- Fin del enlace de la barra de navegación -->
                                </li>
                                <!-- Fin del elemento de la barra de navegación -->
                                <!-- Elemento de la barra de navegación -->
                                <li class="nav-item py-1">
                                    <!-- Enlace de la barra de navegación - Configuración -->
                                    <a data-bs-toggle="tab" href="#kt_app_sidebar_secondary_servers"
                                       class="nav-link py-4 px-1 btn">
                                        <i class="ki-outline ki-setting-2 fs-1"></i>
                                        <span class="pt-2 fs-9 fs-lg-7 fw-bold">Configuración</span>
                                    </a>
                                    <!-- Fin del enlace de la barra de navegación -->
                                </li>
                                <!-- Fin del elemento de la barra de navegación -->
                                <!-- Elemento de la barra de navegación -->
                                <li class="nav-item py-1">
                                    <!-- Enlace de la barra de navegación - Cerrar Sesión -->
                                    <a data-bs-toggle="tab" href="#kt_app_sidebar_secondary_notifications"
                                       class="nav-link py-4 px-1 btn">
                                        <i class="ki-outline ki-exit-right fs-1"></i>
                                        <span class="pt-2 fs-9 fs-lg-7 fw-bold">Cerrar Sesión</span>
                                    </a>
                                    <!-- Fin del enlace de la barra de navegación -->
                                </li>
                                <!-- Fin del elemento de la barra de navegación -->
                                <li class="nav-item py-1">
                                    <!-- Enlace de la barra de navegación - Cerrar Sesión -->
                                    <a data-bs-toggle="tab" href="#kt_app_sidebar_secondary_notifications"
                                       class="nav-link py-4 px-1 btn">
                                        <i class="ki-outline ki-exit-right fs-1"></i>
                                        <span class="pt-2 fs-9 fs-lg-7 fw-bold">Cerrar Sesión</span>
                                    </a>
                                    <!-- Fin del enlace de la barra de navegación -->
                                </li>

                            </ul>
                            <!-- Fin de la navegación -->
                        </div>
                        <!-- Fin de la navbar de la barra lateral -->
                    </div>
                    <!-- Fin de la barra lateral primaria -->
                </div>
                <!-- Fin de la barra lateral -->
                @* <!-- Barra lateral -->
                <div id="kt_app_sidebar" class="app-sidebar" data-kt-drawer="true" data-kt-drawer-name="app-sidebar"
                data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
                data-kt-drawer-width="auto" data-kt-drawer-direction="start"
                data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
                <!-- Barra lateral primaria -->
                <div class="app-sidebar-primary d-flex bg-personalizado">
                <!-- Navbar de la barra lateral -->
                <div class="app-sidebar-nav d-flex flex-grow-1 px-4 pt-2 scroll-ms"
                id="kt_app_sidebar_primary_nav" data-kt-scroll="true" data-kt-scroll-height="auto"
                data-kt-scroll-dependencies="#kt_app_header, #kt_app_sidebar_primary_header, #kt_app_sidebar_primary_footer"
                data-kt-scroll-wrappers="#kt_app_content, #kt_app_sidebar_primary_nav"
                data-kt-scroll-offset="5px" style="border:none;">
                <!-- Navegación -->
                <ul class="nav">
                <!-- Elemento de la barra de navegación - Inicio -->
                <li class="nav-item py-1">
                <a asp-controller="Home" asp-action="Index" class="nav-link py-4 px-1 btn active">
                <i class="ki-outline ki-home fs-1"></i>
                <span class="pt-2 fs-9 fs-lg-7 fw-bold">Inicio</span>
                </a>
                </li>
                <!-- Fin del elemento de la barra de navegación - Inicio -->
                <!-- Elemento de la barra de navegación - Dashboard -->
                <li class="nav-item py-1">
                <a href="#" class="nav-link py-4 px-1 btn">
                <i class="ki-outline ki-chart-simple-3 fs-1"></i>
                <span class="pt-2 fs-9 fs-lg-7 fw-bold">Dashboard</span>
                </a>
                </li>
                <!-- Fin del elemento de la barra de navegación - Dashboard -->
                <!-- Elemento de la barra de navegación - Perfil -->
                <li class="nav-item py-1">
                <a href="#" class="nav-link py-4 px-1 btn">
                <i class="ki-outline ki-profile-circle fs-1"></i>
                <span class="pt-2 fs-9 fs-lg-7 fw-bold">Perfil</span>
                </a>
                </li>
                <!-- Fin del elemento de la barra de navegación - Perfil -->
                <!-- Elemento de la barra de navegación - Configuración -->
                <li class="nav-item py-1">
                <a href="#"
                class="nav-link py-4 px-1 btn">
                <i class="ki-outline ki-setting-2 fs-1"></i>
                <span class="pt-2 fs-9 fs-lg-7 fw-bold">Configuración</span>
                </a>

                </li>
                <!-- Fin del elemento de la barra de navegación - Configuración -->
                <!-- Elemento de la barra de navegación - Cerrar Sesión -->
                <li class="nav-item py-1">
                <a href="#"
                class="nav-link py-4 px-1 btn">
                <i class="ki-outline ki-exit-right fs-1"></i>
                <span class="pt-2 fs-9 fs-lg-7 fw-bold">Cerrar Sesión</span>
                </a>
                </li>
                <!-- Fin del elemento de la barra de navegación - Cerrar Sesión -->
                <li class="nav-item py-1">
                <a href="#"
                class="nav-link py-4 px-1 btn">
                <i class="ki-outline ki-exit-right fs-1"></i>
                <span class="pt-2 fs-9 fs-lg-7 fw-bold">Cerrar Sesión</span>
                </a>
                </li>
                </ul>
                <!-- Fin de la navegación -->
                </div>
                <!-- Fin del contenedor para centrar verticalmente -->
                </div>
                <!-- Fin de la barra lateral primaria -->

                </div>
                <!-- Fin de la barra lateral --> *@


                <!-- Inicio Main donde se conecta con las otras vistas -->
                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <!--begin::Content wrapper-->
                    <div class="d-flex flex-column flex-column-fluid">
                        <div id="kt_app_toolbar" class="app-toolbar py-4 py-lg-8">
                            <div id="kt_app_toolbar_container"
                                 class="app-container container-fluid d-flex flex-stack flex-wrap">
                                <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
                                    <div class="page-title text-center w-100">
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Content wrapper-->
                </div>
                <!--end:::Main-->


            </div>
            <!--end::Wrapper-->


        </div>
        <!--end::Page-->
        <!--begin::Footer-->
        <footer class="footer text-muted bg-personalizado" style="z-index:100">

            <div id="kt_app_footer" class="container app-footer">
                <!--begin::Footer container-->
                <div class="app-container container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3">
                    <!--begin::Copyright-->
                    <div class="text-gray-900 order-2 order-md-1">
                        <span class="text-muted fw-semibold me-1">Copyright 2024&copy;</span>
                        <a href="https://www.apl.com.co/" target="_blank"
                           class="text-gray-800 text-hover-white">,Grupo APL Ingeniería LTDA</a>
                    </div>
                    <!--end::Copyright-->
                    <!--begin::Menu-->
                    <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
                        <li class="menu-item">
                            <a href="https://www.apl.com.co/contacto/" target="_blank" class="menu-link px-2">Contacto</a>
                        </li>
                        <li class="menu-item">
                            <a href="https://www.apl.com.co/soporte-tecnico/" target="_blank"
                               class="menu-link px-2">Soporte</a>
                        </li>
                    </ul>
                    <!--end::Menu-->

                </div>
                <!--end::Footer container-->
            </div>

        </footer>
        <!--end::Footer-->
        <!--begin::Javascript-->
        <script>var hostUrl = "assets/";</script>
        <!--begin::Global Javascript Bundle(mandatory for all pages)-->
        <script src="~/js/plugins.bundle.js"></script>
        <script src="~/js/scripts.bundle.js"></script>
        <!--end::Global Javascript Bundle-->
        <!--begin::Vendors Javascript(used for this page only)-->
        @* <script src="assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script> *@
        <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
        @* <script src="assets/plugins/custom/datatables/datatables.bundle.js"></script> *@
        <!--end::Vendors Javascript-->
        <!--begin::Custom Javascript(used for this page only)-->
        @*     <script src="assets/js/widgets.bundle.js"></script>
        <script src="assets/js/custom/widgets.js"></script>
        <script src="assets/js/custom/apps/chat/chat.js"></script>
        <script src="assets/js/custom/utilities/modals/upgrade-plan.js"></script>
        <script src="assets/js/custom/utilities/modals/new-target.js"></script>
        <script src="assets/js/custom/utilities/modals/new-address.js"></script>
        <script src="assets/js/custom/utilities/modals/users-search.js"></script> *@
        <!--end::Custom Javascript-->
        @await RenderSectionAsync("Scripts", required: false)
        <!--end::Javascript-->
</body>
<!--end::Body-->
</html>
