<div class="d-lg-flex justify-content-between d-md-flex justify-content-between d-sm-block align-items-center">
    <div class="my-2">
        <h2 class="mb-0">@ViewData["Title"]</h2>
    </div>
    <div class="my-2 d-flex justify-content-around col-md-5 col-sm-12 m-auto">
        <a class="btn btn-link" asp-controller="Home" asp-action="Dashboard">Total</a>
        <a class="btn btn-link" asp-controller="Home" asp-action="DashboardSemanal">Semanal</a>
        <a class="btn btn-link" asp-controller="Home" asp-action="DashboardMensual">Mensual</a>
        <a class="btn btn-link" asp-controller="Home" asp-action="DashboardAnual">Anual</a>
    </div>
    <div class="my-2 d-flex justify-content-around col-md-1 col-sm-3 m-auto">
        <i class="ki-outline ki-arrows-loop fs-1"></i>
        <i class="ki-outline ki-file-down fs-1"></i>
    </div>
</div>