@{
    ViewData["Title"] = "Home Page";
}

<style>

    body {
        background-image: url('img/fondo.jpg');
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
    }

    .text-container {
        max-width: 400px;
        float: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 61vh;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-style: italic;
    }

</style>

<body>
    <div>
        <h1 class="display-4">Bienvenido [Usuario]</h1>
    </div>

    <div class="text-container">
        <p>¡Que bueno verte! Aquí encontrarás toda la información relevante de manera clara y concisa. Esperamos que este sistema de visualización te ayude a  tomar decisiones informadas y a gestionar tus actividades de manera más  eficiente. ¡Que disfrutes explorando!</p>
    </div>
</body>