@{
    ViewData["Title"] = "Inicio";
}

<style>

    body {
        background-image: url('img/Fondo.jpg');
        background-size: cover;
        background-attachment: fixed !important;
        background-repeat:no-repeat !important;
    }

    [data-bs-theme="dark"] body {
        background-image: url('img/FondoOscuro.jpg');
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em;
        font-style: italic;
    }

</style>


<div class="container-fluid body min-h-100 d-flex">
    <div class="col">
        <div class="row">
            <div class="text-center my-3">
                <h1 class="display-4">Bienvenido [Usuario]</h1>
            </div>         
        </div>
        <div class="d-flex align-items-center h-400px">
            <div class="col-md-6 col-lg-4 offset-md-6 ">
                <p class="text-center">¡Que bueno verte! Aquí encontrarás toda la información relevante de manera clara y concisa. Esperamos que este sistema de visualización te ayude a tomar decisiones informadas y a gestionar tus actividades de manera más eficiente. ¡Que disfrutes explorando!</p>
            </div>
        </div>
    </div>
</div>
